<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.MessageTemplateExtMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.MessageTemplateExt">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="message_id" jdbcType="INTEGER" property="messageId" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="keyword_data" jdbcType="VARCHAR" property="keywordData" />
  </resultMap>
  <sql id="Base_Column_List">
    id, message_id, color, keyword, keyword_data
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from message_template_ext
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from message_template_ext
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.MessageTemplateExt">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into message_template_ext (message_id, color, keyword, 
      keyword_data)
    values (#{messageId,jdbcType=INTEGER}, #{color,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR}, 
      #{keywordData,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.MessageTemplateExt">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into message_template_ext
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="messageId != null">
        message_id,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="keyword != null">
        keyword,
      </if>
      <if test="keywordData != null">
        keyword_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="messageId != null">
        #{messageId,jdbcType=INTEGER},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null">
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="keywordData != null">
        #{keywordData,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.MessageTemplateExt">
    update message_template_ext
    <set>
      <if test="messageId != null">
        message_id = #{messageId,jdbcType=INTEGER},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null">
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="keywordData != null">
        keyword_data = #{keywordData,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.MessageTemplateExt">
    update message_template_ext
    set message_id = #{messageId,jdbcType=INTEGER},
      color = #{color,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      keyword_data = #{keywordData,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>